.u-section-1 .u-sheet-1 {
  min-height: 1414px;
}

.u-section-1 .u-shape-1 {
  height: 648px;
  margin: 512px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -1051px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 29px 0 0;
}

.u-section-1 .u-text-4 {
  width: 287px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -22px 58px 0 24px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 240px;
  min-width: 112px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 22px auto 0 -27px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/DSC_14221.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -92px 402px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 352px;
  margin: -41px auto 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-1 .u-over-slide-1 {
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  padding: 20px;
}

.u-section-1 .u-shape-2 {
  width: 205px;
  height: 205px;
  background-image: none;
  margin: 58px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 205px;
  height: 205px;
  margin: -205px auto 0 321px;
}

.u-section-1 .u-shape-4 {
  width: 205px;
  height: 205px;
  margin: -205px 307px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 205px;
  height: 205px;
  margin: -205px 0 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -166px 959px 0 24px;
}

.u-section-1 .u-text-8 {
  margin: -128px 638px 0 345px;
}

.u-section-1 .u-text-9 {
  margin: -128px 327px 0 656px;
}

.u-section-1 .u-text-10 {
  margin: -128px 24px 60px 959px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-shape-1 {
    height: 582px;
    margin-top: 315px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -877px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 103px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -9px;
    margin-right: 62px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 454px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: 454px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -8px;
    margin-right: 302px;
  }

  .u-section-1 .u-gallery-1 {
    height: 267px;
    margin-top: -17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 34px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-right: auto;
    margin-left: 244px;
  }

  .u-section-1 .u-shape-5 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 773px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 528px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 278px;
    margin-left: 527px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 35px;
    margin-left: 770px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2059px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-top: 395px;
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -957px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-1 .u-image-1 {
    height: 690px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -117px;
    margin-right: 557px;
  }

  .u-section-1 .u-gallery-1 {
    height: 605px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
    grid-gap: 9px 9px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -205px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 371px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -512px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-right: auto;
    margin-left: 371px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -170px;
    margin-right: 548px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -125px;
    margin-right: 183px;
    margin-left: 397px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 179px;
    margin-right: 539px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 166px;
    margin-left: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2015px;
  }

  .u-section-1 .u-shape-1 {
    height: 669px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: -71px;
    margin-right: 367px;
    margin-left: 10px;
  }

  .u-section-1 .u-gallery-1 {
    height: 652px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -536px;
    margin-left: 281px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 126px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 281px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -491px;
    margin-right: 354px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -128px;
    margin-right: 104px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 197px;
    margin-right: 372px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -134px;
    margin-right: 78px;
    margin-left: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2399px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 280px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 177px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    height: 1362px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-shape-2 {
    margin-top: -205px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -548px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -548px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -554px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -180px;
    margin-right: 188px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 235px;
    margin-right: 188px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 215px;
    margin-right: 190px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 215px;
    margin-right: 170px;
    margin-left: 20px;
  }
}.u-section-2 {
  background-image: url("images/DSC_1410dsf.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 589px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 920px;
  margin: 46px 96px 44px 124px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 499px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 499px;
  pointer-events: auto;
  background-image: url("images/prov.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 370px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 784px;
}

.u-section-3 .u-group-1 {
  width: 951px;
  min-height: 726px;
  margin: 18px 69px 40px 120px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-3 .u-group-1 {
    width: 807px;
    min-height: 875px;
    margin-right: 44px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 217px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1063px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1637px;
    margin-top: 0;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
  }
}