.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 754px;
}

.u-section-1 .u-shape-1 {
  width: 289px;
  height: 596px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -536px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 203px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 20px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 294px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 90px 30px 5px;
}

.u-section-1 .u-text-3 {
  margin: 0 31px 0 46px;
}

.u-section-1 .u-image-1 {
  min-height: 476px;
  background-image: url("images/DSC_1425.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 8px 748px 48px auto;
  padding: 24px 129px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: -4px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-shape-1 {
    width: 240px;
    left: auto;
    right: 216px;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 300px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-1 .u-shape-1 {
    width: 274px;
    right: -50px;
    height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 245px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 245px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -7px;
  }

  .u-section-1 .u-image-1 {
    min-height: 409px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-shape-1 {
    width: 142px;
    height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 105px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 105px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -4px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1195px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 9px;
}

.u-section-2 .u-video-1 {
  width: 609px;
  height: 343px;
  margin: 2px 0 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -329px 652px 0 120px;
}

.u-section-2 .u-text-2 {
  margin: 15px 652px 0 180px;
}

.u-section-2 .u-layout-wrap-2 {
  margin: 2px -455px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-2 .u-video-2 {
  width: 609px;
  height: 343px;
  margin: 0 -23px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -328px 229px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 16px 121px 0 624px;
}

.u-section-2 .u-layout-wrap-3 {
  margin: 2px auto 30px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 388px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 9px;
}

.u-section-2 .u-video-3 {
  width: 609px;
  height: 343px;
  margin: 2px 0 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -329px 652px 0 120px;
}

.u-section-2 .u-text-6 {
  margin: 15px 652px 0 180px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-1 {
    width: 648px;
    height: 365px;
    margin-top: 0;
    margin-right: -30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -326px;
    margin-right: 618px;
    margin-left: -30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 633px;
    margin-left: 33px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-video-2 {
    width: 635px;
    height: 362px;
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -339px;
    margin-right: 39px;
    margin-left: 635px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-right: 0;
    margin-left: 650px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-video-3 {
    width: 648px;
    height: 365px;
    margin-top: 0;
    margin-right: -30px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -326px;
    margin-right: 618px;
    margin-left: -30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 633px;
    margin-left: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-video-1 {
    width: 423px;
    height: 238px;
    margin-left: 267px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -224px;
    margin-right: 407px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 32px;
    margin-right: 404px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 35px;
  }

  .u-section-2 .u-video-2 {
    width: 423px;
    height: 237px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -220px;
    margin-right: 0;
    margin-left: 437px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 23px;
    margin-left: 437px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-video-3 {
    width: 423px;
    height: 238px;
    margin-left: 267px;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-top: -224px;
    margin-right: 407px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 32px;
    margin-right: 404px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-video-1 {
    margin-right: -5px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -245px;
    margin-right: 488px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -51px;
    margin-right: 0;
    margin-left: 163px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 11px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-2 .u-video-2 {
    margin-top: 30px;
    margin-right: 97px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -237px;
    margin-right: 27px;
    margin-left: 462px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 39px;
    margin-right: 334px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-video-3 {
    margin-right: -5px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: -245px;
    margin-right: 488px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -51px;
    margin-right: 0;
    margin-left: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-video-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 94px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 114px;
    margin-right: 64px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-video-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 144px;
    margin-left: 212px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-video-3 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 3rem;
    margin-left: 94px;
    margin-right: 90px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 114px;
    margin-right: 64px;
  }
}